header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}
#api_status {
	float: right;
	margin-right: 30px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #cccccc;
}

.available {
    background-color: #ff545f;
}
